body {
	margin: 0;
}

.menu {

	width: 100%;
	top: 0;
	position: fixed;
	background-color: white;
	border-bottom: 1px solid #333;
}

.container {
	margin-top: 3em;
}

.logo {
	padding: 0;
	margin: 3px;
	margin-bottom: -3px;
}